body {
  margin: 0;
  font-family: 'OpenSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
}

#root {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
